{% extends 'base.html' %}

{% block head %}
<div class="link_header">
  <a href="/reservations"> Current Reservations </a>
  <a href="/logout"> Logout </a>
</div>

<h1> Schedule a melon reservation! </h1>
{% endblock %}

{% block body %}
<form id="schedule">
    Between: <input type="datetime-local" name="start_time" id="datetime_start"> 
    and <input type="datetime-local"  name="end_time" id="datetime_end"> 
    <input type="submit">
</form>
<div id="reservation_text"></div>
<ul id="available_reservations">
</ul>
<script src="/static/js/schedule.js"></script>
{% endblock %}